.inputArea{
	width: 1400px;
	margin: auto;
    display:grid;
    grid-template-columns: auto auto;
}

.copiedArea{
    display: grid;
}

.calculator h1{
	text-align: center;
}
.calculator section{
	width: 200px;
	height: 250px;
	background-color: #D9990C;
	margin : auto;
}
.calculator #numPad{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.calculator #display{
    display: grid;
    grid-template-columns: auto auto;	
}
.calculator button{
	width : 50px;
	height: 50px
}
.calculator input{
	width: 142px;
	background-color: #FCDB61;
}
@font-face {
    font-family: 'Military'; /*a name to be used later*/
    src: url('../../userContent/font/armalite.ttf'); /*URL to font*/
}
#otanPage{
	background-image: url('../../userContent/pictures/camoBackground.jpg');
}
/*#otanPage h1{
	text-align: center;
	font-family: 'Military';
	font-size: 64px;
	color: rgb(0, 73, 144);
	-webkit-text-stroke: 0.8px white;
}*/
#otanPage .img{
	text-align: center;
	margin-top: 50px;
}
.tarea{
	display: grid;
}
.tarea textarea{
	resize: none;
	height: 250px;
	background-color: grey;
	border: 1px white solid;
	color: white;
	font-size: 24px;
	caret-color: rgb(0, 73, 144);
	font-variant: small-caps;
	cursor: default;
}
#otanPage button{
	border-radius: 20px;
	border: none;
	width: 150px;
	margin: auto;
}