body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00ffff;
}
main{
    width: 980px;
    margin: 20px auto;
    border: solid 3px black;
    background-color:  #216bff;
}
header{
    display: flex;
    justify-content : space-around;
    align-items: center;
}
img{
    width: 80px;
    margin-top: auto;
    margin-bottom: auto;
}
h1, .linkFooter{
    color: white;
}
section{
    background-color: white;
    display: grid;
}
h2, p{
    margin-left: 20px;
    width: 85%;
}
h2{
    grid-column-start: span 3;
    font-style: bold;
    margin-bottom: 0px;
}
p{
    margin-top: 0px;
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
}
.picturesMiddle{
    width: 280px;
    padding-right: 150px;
}
footer{
    text-align: center;
    line-height: 40px;
}
a{
    text-decoration: none;
    color: red;
}
.source{
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
    text-align: right;
}

@media screen and (max-width : 980px){
    body{
        width : 100%;
        font-size : 50%;
    }
    main{
        width: 50%;
        border: solid 1% black;
    }
    img{
        width: 50%;
    }
    .picturesMiddle{
        width: 50%;
        padding-right: 50%;
    }
}